@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}

/* Style the video: 100% width and height to cover the entire window */
.video-background {
  position: fixed;
  top: -175px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-background-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
}

#header .toggle-open,
#menu .toggle-close {
  font-size: 22px;
  color: white;
  border: 1px;     
  width: 38px; 
  height: 50px;
  position: absolute;
  top: 20px;
  right: 0px;
  cursor: pointer;
}

#header .toggle-open:hover {
  color: #d3d3d3;
}

/* Navigation Menu */
#menu {
  padding: 2.5em 1.75em;
  height: 100%; 
  width: 230px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  margin-right: auto;    
  margin-left: auto;    
  max-width: 100%;   
  min-width: 200px;
  background-color: #111;
  visibility: hidden; 
  /*color: #000;*/
  opacity: 0.75;
  filter: alpha(opacity=50);
  padding-top: 60px; /* Place content 60px from the top */
  -moz-transform: translateX(20em);
  -webkit-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
  -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  z-index: 10002;
}

  #menu > ul {
    margin: 0 0 1rem 0;
  }

  #menu > ul.links {
    list-style: none;
    padding: 0;
  }

  #menu > ul.links > li {
    padding: 0;
  }

  #menu > ul.links > li > a:not(.button) {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    color: #fff;
    display: block;
    line-height: 3.5em;
    text-decoration: none;
    text-align: center;
  }

  #menu > ul.links > li > a:not(.button):hover,
  #menu .toggle-close:hover,
  #menu > ul.links > div > a:not(.button):hover {
    color: #5AA6ED;
  }

  #menu > ul.links > li > .button {
    display: block;
    margin: 0.5em 0 0 0;
  }

  #menu > ul.links > li:first-child > a:not(.button) {
    border-top: 0 !important;
  }

  #menu .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 3.25em;
    line-height: 3.25em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7em;
  }

  #menu .close:before {
    content: "ï€";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  #menu .close:before {
    font-size: 1.25em;
  }

  #menu .close:hover {
    color: #f2f2f2;
  }

  @media screen and (max-width: 736px) {
    #menu .close {
      height: 4em;
      line-height: 4em;
    }
  }

  #menu.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
  }

  #menu > ul.links > div > a:not(.button) {
    border: 0;
    color: #fff;
    line-height: 3.5em;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
  }

  #menu .copyright {
    color: white;
    font-style: normal;
    font-weight: normal;
  }

  #menu .social-medias {
    text-align: center;
    position: fixed;
    top: 75%;
    width: 230px;
  }

#about {
  position: fixed;
  top: 0;
  right: 22%;
  bottom: 0;
  left: 22%;
  overflow: hidden;
  z-index: -99;
  min-width: 700px; 
  min-height: 100%; 
  background-color: rgba(17,17,17,0.75);
  /*background-color: #111;
  opacity: 0.75;*/
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

#about .about-header {
  padding: 50px 0;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: white;
}

#about .about-body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0 100px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: white;
  text-align: left;
}

#about .about-body p{
  padding-bottom: 30px;
  line-height: 1.8em;
}

.pic-me {
  padding: 50px 0 25px 0;
  position: relative;
  width: 150px;
  height: auto;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -98;
}
