@charset "UTF-8";

body {
    background: var(--bkg-color);
    color: #000;
    font-family: 'Roboto Mono', monospace;
    --header-color: #c8a2c8;
}

body {
  --subheader-color: #808080;
  --text-color: #222;
  --bkg-color: #fff;
  --hover-color: #808080;
}

body.dark-theme {
  --subheader-color: #A9A9A9;
  --text-color: #eee;
  --bkg-color: #181818;
  --hover-color: #fff;
}


h1 {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 20px;
    color: var(--header-color);
}

.container {
    margin: auto;
    padding: 5px;
    max-width: 650px;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-pic {
  padding: 50px;
  position: relative;
  width: 250px;
  height: auto;
  opacity: 1;
  display: block;
  z-index: -98;
}

.header-words {
    max-width: 300px;
}

.typewrite {
  color: var(--subheader-color);
  font-size: 20px;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--subheader-color); /* The typwriter cursor */
  /*white-space: nowrap;  /*Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--subheader-color) }
}

.dark-mode-toggler {
    position: fixed;
    top: 5px;
    right: 20px;
}

.socials {
  text-align: center;
  position: relative;
}

ul {
  padding-inline-start: 0;
}

ul.links > div > a:not(.button) {
    border: 0;
    color: var(--header-color);
    line-height: 3.5em;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

ul.links > div > a:not(.button):hover {
  color: var(--hover-color);
}

.about-body {
  padding-bottom: 30px;
  /*line-height: 1.8em;*/
  /*font-size: 14px;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-style: normal;
  color: var(--text-color);
  text-align: left;
}


/* DOG TOGGLE */

input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.fun-mode-toggler {
  text-align: center;
}

.name {
  width: 80%;
  position: absolute;
  font: 500 14px "Rubik", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  bottom: 15px;
  right: 15px;
  text-align: right;
}

.toggle {
  position: relative;
  display: inline-block;
}

label.toggle-item {
  width: 7em;
  background: #2e394d;
  height: 3em;
  display: inline-block;
  border-radius: 50px;
  margin: 40px;
  position: relative;
  transition: all 0.3s ease;
  transform-origin: 20% center;
  cursor: pointer;
}
label.toggle-item:before {
  display: block;
  transition: all 0.2s ease;
  width: 2.3em;
  height: 2.3em;
  top: 0.25em;
  left: 0.25em;
  border-radius: 2em;
  border: 2px solid #88cf8f;
  transition: 0.3s ease;
}

.dog-rollover label:before {
  content: none;
}
.dog-rollover label .dog {
  display: inline-block;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  top: 0.25em;
  left: 0.2em;
  transition: 0.6s ease;
}
.dog-rollover label .eyes {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #222;
  border-radius: 50%;
  transform: translate(8px, 14px);
  box-shadow: 16px 0 0 #222, 22px -4px 0 12px #e4ac04;
}
.dog-rollover label .ear {
  width: 18px;
  height: 20px;
  position: absolute;
  left: -4px;
  bottom: 80%;
  background: #f9bb00;
  margin-bottom: -5px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  box-shadow: inset 4px 0 0 0px #ffffff, inset -4px 0 0 0px #ffffff;
  transform: rotate(-40deg);
}
.dog-rollover label .ear.right {
  transform: rotate(60deg) scaleX(-1);
  left: auto;
  transform-origin: center bottom;
  transition: 0.4s ease-in-out;
  right: 0px;
}
.dog-rollover label .face {
  overflow: hidden;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  background: #fff;
  z-index: 8;
}
.dog-rollover label .mouth {
  position: absolute;
  background: #222;
  width: 14px;
  height: 7px;
  left: 50%;
  margin-left: -7px;
  bottom: 12px;
  border-radius: 2px 2px 20px 20px;
  bottom: 8px;
  transform: scale(0);
  transition: 0.1s ease;
}
.dog-rollover label .mouth:before {
  width: 8px;
  height: 8px;
  background: #ec788d;
  border-radius: 0 0 50% 50%;
  transform: translate(3px, 5px);
}
.dog-rollover label:before {
  border-color: white;
  background: white;
}

#doggo:checked ~ .cup {
  animation: 0.2s linear cup 1s forwards;
}
#doggo:checked + label .dog {
  left: 68px;
  transform: rotate(360deg);
}
#doggo:checked + label .mouth {
  transform: scale(1);
  transition-delay: 0.7s;
}
#doggo:checked + label .ear.right {
  transform: scaleX(-1) rotate(-35deg);
  transition-delay: 0.6s;
}

/* END OF DOG TOGGLE */
